@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient-box-shadow::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-radius: inherit;
  opacity: 0.75;
}

